## Problem 1 - Variables and Data Types

**Q1: Assign your name to the variable `name`.**

In [3]:
name = "Eric"

Q2: Assign your age to variable 'age'.

In [4]:
age = 44

Q3: Assign a boolean value to the variable 'has_android_phone'.

In [5]:
has_android_phone = True

You can check the values of these variable by running the following

In [6]:
name, age, has_android_phone

('Eric', 44, True)

Q4: Create a dictionary 'person' with keys "Name", "Age", "HasAndroidPhone" and values using the variable defined above.

In [9]:
person = {
    "Name": name,
    "Age": age,
    "HasAndroidPhone": has_android_phone,
}
person

{'Name': 'Eric', 'Age': 44, 'HasAndroidPhone': True}

Let's use the 'person' dictionary to print a nice message

In [10]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Eric is aged 44, and owns an Android phone.

Q4b (Optional): Use a for loop to display the type of each value stored against each key in person.

In [18]:
for key in person:
    print("The key", key, "has the value", person[key])

The key Name has the value Eric
The key Age has the value 44
The key HasAndroidPhone has the value True

## Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [27]:
my_list = ["green", 0, False]

Let's see what the list looks like:

In [28]:
my_list

['green', 0, False]

**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [25]:
print('My favorite color is', my_list[0])

My favorite color is green

In [26]:
print('I have {} pet(s).'.format(my_list[1]))

I have 0 pet(s).

In [29]:
if my_list[2] == True:
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I do not have previous programming experience

**Q7: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [30]:
my_list.append(7)

Let's see if the number shows up in the list.

In [31]:
my_list

['green', 0, False, 7]

**Q9: Complete the `print` statement below to display the number of elements in `my_list`.**

In [34]:
print("The list has {} elements.".format(len(my_list)))

The list has 4 elements.

## Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [46]:
# store the final answer in this variable
sum_of_numbers = 0

# perform the calculation here
for i in range(18, 535):
    if (i % 7 == 0):
        sum_of_numbers = sum_of_numbers + i
    else:
        pass

n = round(((534-18)/7) + 1)
print(n)
s = n*((534+18)/2)
print(s)

75
20700.0

In [45]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [47]:
cost_of_flying_plane = 5000

In [48]:
number_of_passengers = 29

In [49]:
price_of_ticket = 200

In [50]:
profit = ((number_of_passengers * price_of_ticket) - cost_of_flying_plane)

In [52]:
print("The company makes a profit of {} dollars".format(profit))

The company makes a profit of 800 dollars

**Q11b (Optional): Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [53]:
return_tickets = 12

In [55]:
return_profit = ((return_tickets * price_of_ticket) - cost_of_flying_plane)

In [60]:
if return_profit < 0:
    print("The company took a loss of {} dollars on the flight".format(return_profit))
else:
    print("The company made a profit of {} dollars".format(return_profit))

The company took a loss of -2600 dollars on the flight

## Problem 5 - Twitter Sentiment Analysis

Are your ready to perform some *Data Analysis with Python*? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called *sentiment analysis*.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a *dataset*.

In [61]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

**Q12: How many tweets does the dataset contain?**

In [66]:
number_of_tweets = len(tweets)
number_of_tweets

10

Let's create two lists of words: `happy_words` and `sad_words`. We will use these to check if a tweet is happy or sad.

In [67]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [68]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

To identify whether a tweet is happy, we can simply check if contains any of the words from `happy_words`. Here's an example:

In [69]:
sample_tweet = tweets[0]

In [70]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [71]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

Do you understand what we're doing above? 

> For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable `is_tweet_happy` to `True`.

In [72]:
is_tweet_happy

True

**Q13: Determine the number of tweets in the dataset that can be classified as happy.**

*Hint*: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [73]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
for tweet in tweets:
    for word in sample_tweet:
        if word in tweet:
            number_of_happy_tweets += 1
            break

In [74]:
number_of_happy_tweets

10

In [75]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 10

**Q14: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [80]:
happy_fraction = number_of_happy_tweets / number_of_tweets

In [81]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 1.0

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q15: Determine the number of tweets in the dataset that can be classified as sad.**

In [85]:
# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
for tweet in tweets:
    for word in sad_words:
        if word in tweet:
            number_of_sad_tweets += 1
            break
            
sad_fraction = number_of_sad_tweets / number_of_tweets

In [86]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2

Great work, even with some basic analysis, we already know a lot about the sentiment of the tweets given to us. Let us now define a metric called "sentiment score", to summarize the overall sentiment of the tweets.

**Q16b (Optional): Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.**

In [87]:
sentiment_score = happy_fraction - sad_fraction

In [88]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 0.8

In a real world scenario, we could calculate & record the sentiment score for all the tweets sent out every day. This information can be used to plot a graph and study the trends in the changing sentiment of the world. The following graph was creating using the Python data visualization library `matplotlib`, which we'll cover later in the course.

<img src="https://i.imgur.com/6CCIwCb.png" style="width:400px">

What does the sentiment score represent? Based on the value of the sentiment score, can you identify if the overall sentiment of the dataset is happy or sad?

**Q16c (Optional): Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.**