In [2]:
# Declaring a variable
x = 5
x

5

In [3]:
print(x)

5

# Basic Markdown Syntax

# This is a Heading
## This is a Heading 2
### This is a Heading 3

Regular text

**Bold Text**

*Italic Text*

Bullet Points
* Bullet 1
* Bullet 2

numbered Points
1. Point 1
2. Point 2

# Data Types and Structures

## Integer

In [4]:
type(x)

int

## Float

In [5]:
y = 5.0
print(type(y))
y

<class 'float'>

5.0

## String

In [6]:
z = "Goodbye Hello!" # Using either "" or ''
z

'Goodbye Hello!'

In [7]:
quote = '"I think therefore I am" = Rene Descartes'
quote

'"I think therefore I am" = Rene Descartes'

In [8]:
long_string = "long_string_here_it_is"
long_string[:11] # prints the first 10 characters
long_string[0] # print the first character

'l'

## Boolean

In [9]:
boolean = True
another_boolean = False
not_a_boolean = "True" # string

a = 1
b = 2

a == b # Will be false because a does not equal b

False

## Non-primitive data types

In [10]:
a_list = [1, 2, 3, 4, 5, 6, 7, "asdf"]
a_list

[1, 2, 3, 4, 5, 6, 7, 'asdf']

In [11]:
a_list[4]

5

In [12]:
a_list[4:7]

[5, 6, 7]

In [13]:
a_list[-3]

6

In [14]:
a_list[::-1]

['asdf', 7, 6, 5, 4, 3, 2, 1]

In [15]:
a_list[::2]

[1, 3, 5, 7]

In [16]:
a_tuple = (1, 2, 3, 4, 5)

In [17]:
a_tuple[::-1]

(5, 4, 3, 2, 1)

In [18]:
dictionary = {"key": "value", "another": "value"}
dictionary

{'key': 'value', 'another': 'value'}

In [19]:
dictionary["key"]

'value'

In [22]:
dictionary.get("another")

'value'

# Operations
## Arithmetic Operators

In [23]:
add = 2 + 2
add

4

In [24]:
add_str = "str" + "strt"
add_str

'strstrt'

In [25]:
add_list = [1, 2, 3, 4] + [1, 2, 3]
add_list

[1, 2, 3, 4, 1, 2, 3]

In [26]:
add_tuple = (1, 2, 3, 4) + (1, 2, 4)
add_tuple

(1, 2, 3, 4, 1, 2, 4)

In [27]:
sub_str = "str" - "strt"
sub_str

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [28]:
mult = 2 * 2
mult

4

In [29]:
mult_str = "str" * 3
mult_str

'strstrstr'

In [30]:
mult_list = [1, 2, 3, 4] * 3
mult_list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
div = 2/2 # a float
div

1.0

In [32]:
zero_div = 3/0
zero_div

ZeroDivisionError: division by zero

In [33]:
modulo = 10%3
modulo

1

In [34]:
floor_division = 7//2
floor_division

3

## Comparison Operators

In [36]:
print(3 == 3) # Equals

print(3 != 4) # Does not equal

print(3 > 4) # Greater than

print(3 < 5) # Less than

print(2 >= 2) # Greater than or equal to

print(4 <= 4) # Less than or equal to

True
True
False
True
True
True

## Bitwise Operators

In [37]:
print(3 == 3 and 2 <= 5) # Returns true if both operations are true
print(3 == 3 or 2 <= 1) # Returns true if one operation is true
print(not(3 == 3 and 2 <= 5)) # Returns the opposite (False in this case)

True
True
False

## Membership Operations

In [38]:
"I" in "InDSaf"

True

In [39]:
"z" not in ["a", 123, 4, '41']

True

In [40]:
int(5.0)

5

In [41]:
float(23)

23.0

# Functions

In [42]:
# Create the function with 3 arguments
def some_function_name(x, y, z): 
    return x + y + z

In [43]:
# Call the function
some_function_name(1, 2, 3)

6

## Install numpy and import as np

In [44]:
pip install numpy

Requirement already satisfied: numpy in c:\python39\lib\site-packages (1.21.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)

In [45]:
import numpy as np # the "as np" lets us call Numpy by just typing "np"

In [46]:
np.array([1, 2, 3])

array([1, 2, 3])

In [49]:
test = [1, 2, 3, 4]
test.append(3)
test

[1, 2, 3, 4, 3]

## Control Statements

In [56]:
the_list = range(3,100)

for i in the_list:
    print("i is now", i)
    i += 1 # same as saying i = i + 1
    print("output is", i)
print("look has ended")

i is now 3
output is 4
i is now 4
output is 5
i is now 5
output is 6
i is now 6
output is 7
i is now 7
output is 8
i is now 8
output is 9
i is now 9
output is 10
i is now 10
output is 11
i is now 11
output is 12
i is now 12
output is 13
i is now 13
output is 14
i is now 14
output is 15
i is now 15
output is 16
i is now 16
output is 17
i is now 17
output is 18
i is now 18
output is 19
i is now 19
output is 20
i is now 20
output is 21
i is now 21
output is 22
i is now 22
output is 23
i is now 23
output is 24
i is now 24
output is 25
i is now 25
output is 26
i is now 26
output is 27
i is now 27
output is 28
i is now 28
output is 29
i is now 29
output is 30
i is now 30
output is 31
i is now 31
output is 32
i is now 32
output is 33
i is now 33
output is 34
i is now 34
output is 35
i is now 35
output is 36
i is now 36
output is 37
i is now 37
output is 38
i is now 38
output is 39
i is now 39
output is 40
i is now 40
output is 41
i is now 41
output is 42
i is now 42
output is 43
i is now 43
output is 44
i is now 44
output is 45
i is now 45
output is 46
i is now 46
output is 47
i is now 47
output is 48
i is now 48
output is 49
i is now 49
output is 50
i is now 50
output is 51
i is now 51
output is 52
i is now 52
output is 53
i is now 53
output is 54
i is now 54
output is 55
i is now 55
output is 56
i is now 56
output is 57
i is now 57
output is 58
i is now 58
output is 59
i is now 59
output is 60
i is now 60
output is 61
i is now 61
output is 62
i is now 62
output is 63
i is now 63
output is 64
i is now 64
output is 65
i is now 65
output is 66
i is now 66
output is 67
i is now 67
output is 68
i is now 68
output is 69
i is now 69
output is 70
i is now 70
output is 71
i is now 71
output is 72
i is now 72
output is 73
i is now 73
output is 74
i is now 74
output is 75
i is now 75
output is 76
i is now 76
output is 77
i is now 77
output is 78
i is now 78
output is 79
i is now 79
output is 80
i is now 80
output is 81
i is now 81
output is 82
i is now 82
output is 83
i is now 83
output is 84
i is now 84
output is 85
i is now 85
output is 86
i is now 86
output is 87
i is now 87
output is 88
i is now 88
output is 89
i is now 89
output is 90
i is now 90
output is 91
i is now 91
output is 92
i is now 92
output is 93
i is now 93
output is 94
i is now 94
output is 95
i is now 95
output is 96
i is now 96
output is 97
i is now 97
output is 98
i is now 98
output is 99
i is now 99
output is 100
look has ended

In [57]:
x = 0
while x < 5: # While loops will continue as long as the condition has been met
    x += 1
    print(x)

1
2
3
4
5

In [58]:
x = 3
y = 5

if x == y:  # If the condition isn't me then do this, if not then do else
    print("x equals y")
elif x > y:
    print("x is greater than y")
else:
    print("x is less than y")

x is less than y

In [59]:
try:
    2 / 0 # You can't divide by 0 and this will throw an exception
except ZeroDivisionError:
    print("Can't divide by 0")

Can't divide by 0